# docker めんどくさいんで
ccxt==1.53.20 
lightgbm==3.2.1 
TA-Lib==0.4.21 
git+https://github.com/richmanbtc/crypto_data_fetcher.git@v0.0.15#egg=crypto_data_fetcher
matplotlib
numba
numpy
pandas
scipy
seaborn
sklearn